<div id="character-history">
  <div class="info-block">
    <div class="info-block-head">Recently...</div>
    <div class="info-block-body">
      <%= render :partial => "stories", :locals => {:stories => character.recent_history} %>
    </div>
  </div>

  <% character.earlier_history.reverse.each do |step| %>
    <div class="info-block">
      <div class="info-block-head">Earlier...</div>
      <div class="info-block-body">
        <%= render :partial => "stories", :locals => {:stories => step} %>
      </div>
    </div>
  <% end %>
</div>
