<div id="character-history">
  <div class="info-block log">
    <div class="info-block-head">Recently...</div>
    <div class="info-block-body">
      <%= render :partial => "log", :locals => {:log => character.current_history} %>
    </div>
  </div>

  <% character.earlier_history.reverse.each do |log| %>
    <div class="info-block log">
      <div class="info-block-head">Earlier...</div>
      <div class="info-block-body">
        <%= render :partial => "log", :locals => {:log => log} %>
      </div>
    </div>
  <% end %>
</div>
