<div id="player-menu">
  <%= link_to "Return to World List", root_path %> - 
  <%= link_to "Back to Overview", character_overview_path(:id=>@character.id) %>
</div>

<div id="character-history">
  <h4>Recently...</h4>
  <% @recent_history.each do |story| %>
    <div class="story"><%= story %></div>
  <% end %>

  <% @history.each do |step| %>
    <h4>Earlier...</h4>
    <% step.each do |story| %>
      <div class="story"><%= story %></div>
    <% end %>
  <% end %>
</div>
