<h2>Message</h2>
<% @proposal.content.message_components.each do |component| %>
  <div style="border:1px dashed grey; padding:8px;"><%= component.display_for(@character) %></div>
<% end %>

<% if @character == @proposal.receiver %>
  <%= link_to "Reply", new_proposal_details_path(:id => @character.id, :target_id => @proposal.sender.id, :proposal_type => 'Message') %>
<% end %>
