<div class="message-form">
  <h4>Compose your message</h4>

  <div class="message-list">
  </div>
  
  <div class="message-form-controls">
    <a class="basic-button add-gesture">Gesture</a>
    <% if @character.knows?('language') %>
      <a class="basic-button add-speech">Speak</a>
    <% end %>
  </div>
</div>
<div class="reference-template new-gesture">
  <div class='message-element gesture-element'>
    <div class="gesture-builder">
    </div>
  </div>
</div>
<div class="reference-template select-gesture">
  <div class='gesture-list'>
    <% @gestures.each do |gesture| %>
      <div class='gesture-option basic-button' data-id="<%=gesture.id%>">
        <div class='option-label'><%= gesture.name %></div>
        <div class='option-description'><%= gesture.description %></div>
      </div>
    <% end %>
  </div>
</div>


<div class="reference-template new-speech">
  <%= text_area_tag("message_components[1][value]") %>
</div>
