<div id="player-menu">
  <%= link_to "Return to World List", root_path %> - 
  <%= link_to "Back to Overview", character_overview_path(:id=>@character.id) %> -
  <%= link_to "Back to Proposals", proposals_path(:id=>@character.id) %>
</div>

<div class="info-block">
  <div class="info-block-head"> 
    <% if @proposal_type == 'Trade' %>
      Offer Trade To
    <% elsif @proposal_type == 'Interaction' %>
      Propose Interaction with
    <% else %>
      I don't even
    <% end %> 
  <div>
  <div class="info-block-body">
    <% if @other_characters.empty? %>
      There are no valid targets.
    <% else %>
      <% @other_characters.each do |other_character| %>
        <%= link_to "Send to #{other_character.name}", new_proposal_details_path(:id => @character.id, :target_id => other_character.id) %>
      <% end %>
    <% end %>
  </div>
</div>
