// Place all the styles related to the frontpage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#player-frontpage{
  .deceased{
    background-color:black;
    color:white;

    a{
      color:white;
      
      &:visited{
        color:white;
      }
    }
  }

  .world-list{
    .entry{
      border-top: 1px dotted black;
      padding-bottom:5px;
      padding-top:5px;

      &.joined{
        background-color:#DDD;
      }

      .world-title{
        margin-bottom:2px;
        font-weight:bold;
      }

      .world-details{
        margin-left:15px;

        .option-button{
          display:inline-block;
          padding-left:2px;
          padding-right:2px;
        }

        .unspent-vigor{
          display:inline-block;
          color:black;
          background-color:#6C6;
          padding:1px;
          padding-left:4px;
          padding-right:4px;
        }

        .unread-proposals{
          display:inline-block;
          color:black;
          background-color:#C66;
          padding:1px;
          padding-left:4px;
          padding-right:4px;
        }
      }
    }
  }

  .button{
    color:black;
    border:1px solid black;
    text-decoration:none;
    &:hover{
      color:white;
    }
  }

  .create-world-button{
    display:block;
    width:200px;
    text-align:center;
    font-size:125%;
    padding:5px;
    margin-bottom:3px;
  }
}
