body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.info-block{
  margin-bottom:10px;

  .info-block-head{
    font-size:125%;
    font-weight:bold;
    padding:3px;
    margin-top:0px;
    margin-bottom:2px;
    border-bottom:1px dotted black;
    border-top:1px solid black;
  }

  .info-block-body{
    padding-left:5px;
    padding-right:5px;

    .data-block{
      .data-element{
        display:block;
        margin-right:5px;
        padding-right:5px;
        
        .label{
          display:inline;
          font-weight:bold;

          &:after{
            content:": ";
          }
        }

        .value{
          display:inline;
        }

        .sub-value{
          display:block;
          font-size: 80%;
          margin-left:12px;
        }
      }
    }
  }
}

.quantity{
  font-size:80%;
  display:inline;

  &:before{
    content:'x';
    margin-right:1px;
  }
}

.charges{
  font-size:80%;
  background-color:#EEE;
  border:1px solid black;
  padding-left:2px;
  padding-right:2px;
  border-radius:4px;

  &.over{
    background-color:#666;
  }
}

a.basic-button{
  display:inline-block;
  text-decoration:none;
  margin-left:5px;
  color:black;
  border:1px solid black;
  border-radius:4px;
  padding:2px;
  padding-left:4px;
  padding-right:4px;
  margin-top:2px;
  margin-bottom:2px;


  &:hover{
    color:#ccc;
    background-color:black;
  }

  &.tiny-button{
    font-size:80%;
    line-height:100%;
    border-radius:2px;
    margin:0px;
    padding:1px;
    padding-left:3px;
    padding-right:3px;
  }
}

ul{
  display:block;
  margin:0px;
  padding:0px;

  li{
    display:inline;

    &:after{
      content: ", "
    }
    &:last-child:after {
    content: "";
    }
  }
}

.alert{
  background-color:red
}
